
@{
    ViewBag.Title = "Github";
}

<h2>Github</h2>

<h4>Check it out on GitHub</h4>
<p><a href="https://github.com/justinward25/Midterm-Security">https://github.com/justinward25/Midterm-Security</a></p>
